header {
    text-align: center;
}

body {
    background-color: rgb(239, 231, 230);
    font-family: cursive;
}

.homepage {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 100px;
    font-style: bold;
    text-align: center;
}

.jointContainer {
    display: flex;
    flex-direction: inline;
}

.singleContainer1 {
    width: 40%
}

.singleContainer2 {
    width: 60%
}

.wordListBannerConatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.wordListBannerItem {
    margin: 10px 10px;
    padding: 0% 1%;
    border: 3px solid black;
    text-align: center;
    border-radius: 1%;
    user-select: none;
    font-size: 15px;
}

.wordListBannerItem[data-status="noun"] {
    background-color: rgb(153, 165, 255)
}

.wordListBannerItem[data-status="verb"] {
    background-color: rgb(195, 255, 200)
}

.wordListBannerItem[data-status="adjective"] {
    background-color: rgb(255, 110, 110)
}

.wordListBannerItem[data-status="adverb"] {
    background-color: rgb(255, 255, 102)
}

.singleWordFullCardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.singleWordFullCard {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 0% 1%;
    border: 3px solid black;
    text-align: center;
    border-radius: 1%;
}

.singleWordFullCard[data-status="noun"] {
    background-color: rgb(153, 165, 255)
}

.singleWordFullCard[data-status="verb"] {
    background-color: rgb(195, 255, 200)
}

.singleWordFullCard[data-status="adjective"] {
    background-color: rgb(255, 110, 110)
}

.singleWordFullCard[data-status="adverb"] {
    background-color: rgb(255, 255, 102)
}

.faveWordTitle {
    font-size: 55px;
    text-align: center;
}

.faveWordSubtitle {
    font-size: 30px;
    font-style: italic;
    margin-bottom: -0.5%;
}

.faveWordPhonetics {
    font-size: 45px;
}

.faveWordButton {
    width: 20%;
    font-size: 40px;
    background-color: inherit;
    border: none
}

.faveWordButton:hover {
    background-color: black;
}

.faveWordSynonymContainer {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.faveWordLink {
    color: black
}

.faveWordSynonym {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.filtersBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sortButton {
    margin: 0% 0.5%;
    border: 1px solid black;
}

.sortButtonActive {
    background-color: yellow;
    margin: 0% 0.5%;
    border: 1px solid black
}

input {
    font-size: 30px;
    font-family: cursive;
    border: 1px solid black;
    margin: 0.2%;
    background-color: rgb(239, 231, 230);
}

.submitButton {
    font-size: 30px;
    font-family: cursive;
    background-color: rgb(239, 231, 230);
}

.submitButton:hover {
    background-color: black;
    color: rgb(239, 231, 230)
}

.addContainer {
    text-align: center;
}